body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.d-flex {
  display: flex;
}
button {
  padding: 10px 20px;
  background: none;
  border: 2px solid #b7b7b7;
  color: #bfbfbf;
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

input {
  padding: 10px;
  background: none;
  border: 2px solid #b7b7b7;
  color: #fff;
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

img {
  width: 100px;
  height: 100px;
}
